# Ignore all contents of tmp
data/tmp/*
# But do not ignore the directory itself
!data/tmp

/logs/*
/workflow/.snakemake/metadata/
/workflow/.snakemake/log/
/workflow/.snakemake/
/results/ltrdigest/Antrozous_pallidus.gff
/results/ltrharvest/Antrozous_pallidus.gff
/results/tables/segmented_species/Antrozous_pallidus_accessory.parquet
/results/tables/segmented_species/Antrozous_pallidus_full.parquet
/results/tables/segmented_species/Antrozous_pallidus_main.parquet
/results/ltrharvest/Antrozous_pallidus_sorted.gff
/results/ltrharvest/Artibeus_lituratus.fa
/results/ltrharvest/Artibeus_lituratus.gff
/results/tables/segmented_species/Artibeus_lituratus_accessory.parquet
/results/tables/segmented_species/Artibeus_lituratus_full.parquet
/results/tables/segmented_species/Artibeus_lituratus_main.parquet
/results/ltrharvest/Artibeus_lituratus_sorted.gff
/results/plots/balloon-virus_species_plot.png
/results/plots/bar_family_probe_plot.png
/results/plots/bar_species_virus_plot.png
/candidates.gff3
/results/ltrharvest/Corynorhinus_townsendii.fa
/results/ltrharvest/Corynorhinus_townsendii.gff
/results/tables/segmented_species/Corynorhinus_townsendii_accessory.parquet
/results/tables/segmented_species/Corynorhinus_townsendii_full.parquet
/results/tables/segmented_species/Corynorhinus_townsendii_main.parquet
/results/ltrharvest/Corynorhinus_townsendii_sorted.gff
/results/notebooks/custom.css
/results/plots/density-bitscore.png
/results/ltrharvest/Desmodus_rotundus.fa
/results/ltrharvest/Desmodus_rotundus.gff
/results/tables/segmented_species/Desmodus_rotundus_accessory.parquet
/results/tables/segmented_species/Desmodus_rotundus_full.parquet
/results/tables/segmented_species/Desmodus_rotundus_main.parquet
/results/ltrharvest/Desmodus_rotundus_sorted.gff
/results/ltrharvest/Eptesicus_fuscus.fa
/results/ltrharvest/Eptesicus_fuscus.gff
/results/tables/segmented_species/Eptesicus_fuscus_accessory.parquet
/results/tables/segmented_species/Eptesicus_fuscus_full.parquet
/results/tables/segmented_species/Eptesicus_fuscus_main.parquet
/results/ltrharvest/Eptesicus_fuscus_sorted.gff
/results/ltrharvest/Eptesicus_nilssonii.fa
/results/ltrharvest/Eptesicus_nilssonii.gff
/results/tables/segmented_species/Eptesicus_nilssonii_accessory.parquet
/results/tables/segmented_species/Eptesicus_nilssonii_full.parquet
/results/tables/segmented_species/Eptesicus_nilssonii_main.parquet
/results/ltrharvest/Eptesicus_nilssonii_sorted.gff
/results/tables/full_genome_blast.csv
/results/tables/full_genome_blast.parquet
/data/pickles/full_genome_blast.pkl
/results/tests/tests/1-5/full_vs_ltr.csv
/results/tests/tests/6-10/full_vs_ltr.csv
/results/tests/tests/11/full_vs_ltr.csv
/results/tests/tests/1-5/full_vs_ltr.parquet
/results/tests/tests/6-10/full_vs_ltr.parquet
/results/tests/tests/11/full_vs_ltr.parquet
/results/tests/tests/1-5/full_vs_ltr.pkl
/results/tests/tests/6-10/full_vs_ltr.pkl
/results/tests/tests/11/full_vs_ltr.pkl
/results/notebooks/genomic-ranges.html
/results/notebooks/genomic-ranges.tex
/results/ltrharvest/Glossophaga_mutica.fa
/results/ltrharvest/Glossophaga_mutica.gff
/results/tables/segmented_species/Glossophaga_mutica_accessory.parquet
/results/tables/segmented_species/Glossophaga_mutica_full.parquet
/results/tables/segmented_species/Glossophaga_mutica_main.parquet
/results/ltrharvest/Glossophaga_mutica_sorted.gff
/results/tracks/gr_hl.gff
/results/tracks/gr_hl_red.gff
/results/tracks/gr_hl_unique.gff
/results/tracks/gr_mn_unique.gff
/results/tracks/gr_mn_unique_ltr.gff
/results/notebooks/granges-1.Rmd
/results/ltrharvest/Hipposideros_larvatus.fa
/results/ltrdigest/Hipposideros_larvatus.gff
/results/ltrharvest/Hipposideros_larvatus.gff
/results/tracks/Hipposideros_larvatus-non_reduced.gff
/results/tables/segmented_species/Hipposideros_larvatus_accessory.parquet
/results/tables/segmented_species/Hipposideros_larvatus_full.parquet
/results/tracks/Hipposideros_larvatus_main.gff3
/results/tables/segmented_species/Hipposideros_larvatus_main.parquet
/results/tracks/Hipposideros_larvatus_main_valid_hits.gff3
/results/ltrharvest/Hipposideros_larvatus_sorted.gff
/results/ltrharvest/Miniopterus_schreibersii.fa
/results/ltrharvest/Miniopterus_schreibersii.gff
/results/tables/segmented_species/Miniopterus_schreibersii_accessory.parquet
/results/tables/segmented_species/Miniopterus_schreibersii_full.parquet
/results/tables/segmented_species/Miniopterus_schreibersii_main.parquet
/results/ltrharvest/Miniopterus_schreibersii_sorted.gff
/results/ltrharvest/Molossus_alvarezi.fa
/results/ltrharvest/Molossus_alvarezi.gff
/results/tables/segmented_species/Molossus_alvarezi_accessory.parquet
/results/tables/segmented_species/Molossus_alvarezi_full.parquet
/results/tables/segmented_species/Molossus_alvarezi_main.parquet
/results/ltrharvest/Molossus_alvarezi_sorted.gff
/results/ltrharvest/Molossus_molossus.fa
/results/ltrharvest/Molossus_molossus.gff
/results/tables/segmented_species/Molossus_molossus_accessory.parquet
/results/tables/segmented_species/Molossus_molossus_full.parquet
/results/tables/segmented_species/Molossus_molossus_main.parquet
/results/ltrharvest/Molossus_molossus_sorted.gff
/results/ltrharvest/Molossus_nigricans.fa
/results/ltrharvest/Molossus_nigricans.gff
/results/tables/segmented_species/Molossus_nigricans_accessory.parquet
/results/tables/segmented_species/Molossus_nigricans_full.parquet
/results/tables/segmented_species/Molossus_nigricans_main.parquet
/results/ltrharvest/Myotis_daubentonii.fa
/results/ltrharvest/Myotis_daubentonii.gff
/results/tables/segmented_species/Myotis_daubentonii_accessory.parquet
/results/tables/segmented_species/Myotis_daubentonii_full.parquet
/results/tables/segmented_species/Myotis_daubentonii_main.parquet
/results/ltrharvest/Myotis_daubentonii_sorted.gff
/results/ltrharvest/Myotis_myotis.fa
/results/ltrharvest/Myotis_myotis.gff
/results/tables/segmented_species/Myotis_myotis_accessory.parquet
/results/tables/segmented_species/Myotis_myotis_full.parquet
/results/tables/segmented_species/Myotis_myotis_main.parquet
/results/ltrharvest/Myotis_myotis_sorted.gff
/results/ltrharvest/Myotis_mystacinus.fa
/results/ltrharvest/Myotis_mystacinus.gff
/results/tables/segmented_species/Myotis_mystacinus_accessory.parquet
/results/tables/segmented_species/Myotis_mystacinus_full.parquet
/results/tables/segmented_species/Myotis_mystacinus_main.parquet
/results/ltrharvest/Myotis_mystacinus_sorted.gff
/overlap.csv
/overlap_percent.csv
/results/ltrharvest/Phyllostomus_discolor.fa
/results/ltrharvest/Phyllostomus_discolor.gff
/results/tables/segmented_species/Phyllostomus_discolor_accessory.parquet
/results/tables/segmented_species/Phyllostomus_discolor_full.parquet
/results/tables/segmented_species/Phyllostomus_discolor_main.parquet
/results/ltrharvest/Phyllostomus_discolor_sorted.gff
/results/ltrharvest/Pipistrellus_kuhlii.fa
/results/ltrharvest/Pipistrellus_kuhlii.gff
/results/tables/segmented_species/Pipistrellus_kuhlii_accessory.parquet
/results/tables/segmented_species/Pipistrellus_kuhlii_full.parquet
/results/tables/segmented_species/Pipistrellus_kuhlii_main.parquet
/results/ltrharvest/Pipistrellus_kuhlii_sorted.gff
/results/ltrharvest/Plecotus_auritus.fa
/results/ltrharvest/Plecotus_auritus.gff
/results/tables/segmented_species/Plecotus_auritus_accessory.parquet
/results/tables/segmented_species/Plecotus_auritus_full.parquet
/results/tables/segmented_species/Plecotus_auritus_main.parquet
/results/ltrharvest/Plecotus_auritus_sorted.gff
/workflow/plot2sort.R
/results/notebooks/PRDM9-GRanges.Rmd
/results/tables/probe_dict.csv
/results/tables/probe_dict.parquet
/data/tables/input/Probe_info.csv
/data/tables/input/probe_info.xlsx
/results/plots/raincloud-bitscore.png
/results/ltrharvest/Rhinolophus_ferrumequinum.fa
/results/ltrharvest/Rhinolophus_ferrumequinum.gff
/results/tables/segmented_species/Rhinolophus_ferrumequinum_accessory.parquet
/results/tables/segmented_species/Rhinolophus_ferrumequinum_full.parquet
/results/tables/segmented_species/Rhinolophus_ferrumequinum_main.parquet
/results/ltrharvest/Rhinolophus_ferrumequinum_sorted.gff
/results/ltrharvest/Rhinolophus_hipposideros.fa
/results/ltrharvest/Rhinolophus_hipposideros.gff
/results/tables/segmented_species/Rhinolophus_hipposideros_accessory.parquet
/results/tables/segmented_species/Rhinolophus_hipposideros_full.parquet
/results/tables/segmented_species/Rhinolophus_hipposideros_main.parquet
/results/ltrharvest/Rhinolophus_hipposideros_sorted.gff
/results/ltrharvest/Rhynchonycteris_naso.fa
/results/ltrharvest/Rhynchonycteris_naso.gff
/results/tables/segmented_species/Rhynchonycteris_naso_accessory.parquet
/results/tables/segmented_species/Rhynchonycteris_naso_full.parquet
/results/tables/segmented_species/Rhynchonycteris_naso_main.parquet
/results/ltrharvest/Rhynchonycteris_naso_sorted.gff
/results/ltrharvest/Saccopteryx_bilineata.fa
/results/ltrharvest/Saccopteryx_bilineata.gff
/results/tables/segmented_species/Saccopteryx_bilineata_accessory.parquet
/results/tables/segmented_species/Saccopteryx_bilineata_full.parquet
/results/tables/segmented_species/Saccopteryx_bilineata_main.parquet
/results/ltrharvest/Saccopteryx_bilineata_sorted.gff
/results/ltrharvest/Saccopteryx_leptura.fa
/results/ltrharvest/Saccopteryx_leptura.gff
/results/tables/segmented_species/Saccopteryx_leptura_accessory.parquet
/results/tables/segmented_species/Saccopteryx_leptura_full.parquet
/results/tables/segmented_species/Saccopteryx_leptura_main.parquet
/results/ltrharvest/Saccopteryx_leptura_sorted.gff
/results/plots/sankey-probe_family.png
/results/plots/sankey-species_family.png
/results/plots/sankey-species_probe.png
/results/plots/sankey-species_probe_family.png
/results/ltrharvest/Tadarida_brasiliensis.fa
/results/ltrharvest/Tadarida_brasiliensis.gff
/results/tables/segmented_species/Tadarida_brasiliensis_accessory.parquet
/results/tables/segmented_species/Tadarida_brasiliensis_full.parquet
/results/tables/segmented_species/Tadarida_brasiliensis_main.parquet
/results/ltrharvest/Tadarida_brasiliensis_sorted.gff
/results/tracks/test.gff
/results/tracks/test_collapsed_mn.gff
/validated.gff3
/results/ltrharvest/Vespertilio_murinus.fa
/results/ltrharvest/Vespertilio_murinus.gff
/results/tables/segmented_species/Vespertilio_murinus_accessory.parquet
/results/tables/segmented_species/Vespertilio_murinus_full.parquet
/results/tables/segmented_species/Vespertilio_murinus_main.parquet
/results/ltrharvest/Vespertilio_murinus_sorted.gff
/results/ltrharvest/Antrozous_pallidus.gff3
/results/ltrharvest/Artibeus_lituratus.gff3
/results/ltrharvest/Artibeus_lituratus_sorted.gff3
/workflow/candidates.gff3
/results/ltrharvest/Corynorhinus_townsendii.gff3
/results/ltrharvest/Corynorhinus_townsendii_sorted.gff3
/results/ltrharvest/Desmodus_rotundus.gff3
/results/ltrharvest/Eptesicus_fuscus.gff3
/results/ltrharvest/Eptesicus_nilssonii.gff3
/results/ltrharvest/Glossophaga_mutica.gff3
/results/ltrharvest/Hipposideros_larvatus.gff3
/results/ltrharvest/Hipposideros_larvatus_sorted.gff3
/results/ltrharvest/Miniopterus_schreibersii.gff3
/results/ltrharvest/Miniopterus_schreibersii_sorted.gff3
/results/ltrharvest/Molossus_alvarezi.gff3
/results/ltrharvest/Molossus_alvarezi_sorted.gff3
/results/ltrharvest/Molossus_molossus.gff3
/results/ltrharvest/Molossus_nigricans.gff3
/results/ltrharvest/Molossus_nigricans_sorted.gff3
/results/ltrharvest/Myotis_daubentonii.gff3
/results/ltrharvest/Myotis_daubentonii_sorted.gff3
/results/ltrharvest/Myotis_myotis.gff3
/results/ltrharvest/Myotis_mystacinus.gff3
/results/ltrharvest/Myotis_mystacinus_sorted.gff3
/workflow/original.gff3
/workflow/overlap.csv
/workflow/overlap_percent.csv
/results/ltrharvest/Phyllostomus_discolor.gff3
/results/ltrharvest/Phyllostomus_discolor_sorted.gff3
/results/ltrharvest/Pipistrellus_kuhlii.gff3
/results/ltrharvest/Pipistrellus_kuhlii_sorted.gff3
/results/ltrharvest/Plecotus_auritus.gff3
/results/ltrharvest/Plecotus_auritus_sorted.gff3
/results/ltrharvest/Rhinolophus_ferrumequinum.gff3
/results/ltrharvest/Rhinolophus_ferrumequinum_sorted.gff3
/results/ltrharvest/Rhinolophus_hipposideros.gff3
/results/ltrharvest/Rhinolophus_hipposideros_sorted.gff3
/results/ltrharvest/Rhynchonycteris_naso.gff3
/results/ltrharvest/Rhynchonycteris_naso_sorted.gff3
/results/ltrharvest/Saccopteryx_bilineata.gff3
/results/ltrharvest/Saccopteryx_leptura.gff3
/results/ltrharvest/Saccopteryx_leptura_sorted.gff3
/results/ltrharvest/Tadarida_brasiliensis.gff3
/results/ltrharvest/Tadarida_brasiliensis_sorted.gff3
/workflow/validated.gff3
/results/ltrharvest/Vespertilio_murinus.gff3
